
.poster-list.-horizontal {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--column-gap, 10px)
}

.poster-list.popular-list {
    margin-top: 1rem;
    background: var(--featured-bg);
}

ol, ul {
    list-style: none;
}