.headerBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.status {
    display: grid;
    grid-template-columns: auto auto;
    width: 40%;
    margin: 0;
    padding: 16px;
}

textarea {
    resize: none;
}

#status-form {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    padding-top: 5px;
    padding-right: 10%;
}

textarea {
    margin-bottom: 10px;
}

textarea:disabled {
    background-color: #6d1f48;
    border: 2px solid #46152f;
    opacity: 1;
    color: #A9D66D
}

.search-form input {
    margin: 0 2px;
}