
.reviews {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reviews__list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.review{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "game game game game game"
        "profile rating rating rating date"
        "profile desc desc desc desc";
    border-bottom: 2px solid #A7C2FA;
    margin-bottom: 20px;
}

.review .profile {
    grid-area: profile;
    text-align: left;
}

.review__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: rating;
}

.date {
    grid-area: date;
    align-content: right;
}

.review__row ul {
    padding: 0;
    margin: 0;
}

.review__desc {
    grid-area: desc;
    text-wrap: wrap;
}

.game {
    grid-area: game;
    text-align: center;
}