@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap');

body {
    background-color: #153858;
    font-family: "Space Grotesk", sans-serif
}

h1 {
    color: #A7C2FA;
}

p {
    color: #A9D66D;
    font-family: "Inter", sans-serif;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: #A7C2FA;
    padding: 10px 15px;
    display: block;
}

.navbar a:hover {
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
}

@media (min-width: 768px) {
    .nav-toggle {
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .navbar ul {
        display: flex;
        justify-content: center;
    }

    .navbar li {
        margin: 0 15px;
    }

    header {
        background-color: #6d1f48;
        color: #A7C2FA;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid #46152f;
        font-family: "Orbitron", sans-serif;
    }
}

@media (max-width: 767px) {
    .navbar {
        display: none;
        background-color: #6d1f48;
        width: 100%;
    }

    .navbar.active {
        display: block;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-toggle {
        font-size: 24px;
        background: none;
        color: #A7C2FA;
        border: none;
        cursor: pointer;
        margin: 10px;
        align-self: flex-end;
    }

    header {
        background-color: #6d1f48;
        color: #A7C2FA;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: stretch;
    }
}